body {
  box-sizing: border-box;
  margin: 0;
}

div.card {
  background-color: aquamarine;
  display: flex;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 500px;
}

img {
  background: black;
  border-radius: 50px;
}

p {
  font-weight: bold;
}
